#Node
/node_modules
/npm-debug.log*
/yarn-error.log
.eslintcache
/dist
/out
/es
/lib
/yarn.lock

#VisualStudioCode

#JetBrains
.idea/

#Windows

#Linux

#macOS
.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local
